body{
    background-color: #3D195B;
    margin-left: 10%;
    margin-right: 10%;
}

h1, h2, h3{
    color: white;
    font-family: verdana;
    text-decoration: underline;
    text-align: center;
}

.anchorLarge {
    color: rgb(255, 0, 47) ;
    font-size: 2em;
    padding: 5%;
}

body{
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}